* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.head {
  width: 100%;
  height: 100vh;
}

nav {
  height: 100px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(238, 219, 219);
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: green;
}

span {
  color: brown;
  font-weight: bold;
}
ul li {
  display: inline-block;
  padding: 15px 30px;
}

li a {
  text-decoration: none;
  font-weight: bold;
  color: green;
  text-transform: uppercase;
  text-decoration: none;
  list-style-type: none;
}

li a:hover {
  color: brown;
}

.images {
  display: flex;
  justify-content: space-around;
}

#imone {
  height: 300px;
  width: 300px;
  margin-top: 60px;
}

#hey {
  font-size: 100px;
  color: purple;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 230px;
}

.img {
  position: absolute;
  height: 500px;
  margin-right: 50px;
  z-index: -1;
}

.imtwo {
  height: 300px;
  width: 300px;
  margin-top: 60px;
}
.name {
  margin-top: 170px;
  margin-left: 470px;
}

h3 {
  font-size: 35px;
  margin-left: 60px;
  color: brown;
  margin-bottom: 10px;
  font-weight: bold;
}

h5 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 15px;
  margin-left: 20px;
  color: chocolate;
  margin-bottom: 30px;
}

.para {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}

.set {
  margin-top: 300px;
  margin-left: 480px;
}

.it {
  font-size: 45px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}
